body{
  /* font-family: serif; */
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

p{
  font-size: 24px;
  font-weight: bold;
  line-height: 3.0;
  text-align: center;
}

h1{
  /* text-align: left; */
  text-align: center;
  text-decoration: underline;
}
